<mat-toolbar >
    <span>Jobs</span>
    <span class="spacer">Aqui va el icono</span>
  </mat-toolbar>
<div class="contenedor-principal">
    <div class="contenedor-1">
        <h1>Open Jobs</h1>
        <div class="contenedor-tabla">
            <table>
                <tr>
                  <td>Job</td>
                  <td>Project</td>
                  <td>Office</td>
                  <td>Candidates</td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td>Project</td>
                    <td>Office</td>
                    <td>Candidates</td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td>Project</td>
                    <td>Office</td>
                    <td>Candidates</td>
                </tr>
              </table>
        </div> 
    </div>
    <div class="contenedor-2">
        <h1>Closed Jobs</h1>
        <div class="contenedor-tabla">
            <table>
                <tr>
                  <td>Job</td>
                  <td>Project</td>
                  <td>Office</td>
                  <td>Candidates</td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td>Project</td>
                    <td>Office</td>
                    <td>Candidates</td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td>Project</td>
                    <td>Office</td>
                    <td>Candidates</td>
                </tr>
              </table>
        </div> 
    </div>
</div>
