.click{
    color: inherit; /* cambiar el color del enlace visitado al color predeterminado del texto */
    text-decoration: none; /* quitar la subrayado del enlace visitado */
    font-size: 15px;
}
.sobre:hover{
    text-decoration: underline ;
}