@import "colors";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.top {
  width: 80%;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 25px;
  }

  button {
    margin-bottom: 5px;
  }

  border-bottom: $navy-blue-100 1px solid;
  margin: 5px;
}

.bottom {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  #roles {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  #dates {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  #localStatus {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }

  #projectArea {
    display: flex;
    justify-content: space-around;
    width: 90%;
    mat-form-field{
      width: 45%;
    }
  }

  #vacancies{
    width: 15%;
    mat-form-field{
      width: 30%;
    }
  }
  #motive{
    width: 40%;
    mat-form-field{
      width: 100%;
      textarea{
        height: 20vh;
      }
    }
  }
}

