@import "colors";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.top {
  width: 80%;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 25px;
  }

  button {
    margin-bottom: 5px;
  }

  border-bottom: $navy-blue-100 1px solid;
  margin: 5px;
}

.bottom {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  .vacancies {
    width:5em!important;
  }
  .project{
    width: 20em!important;
  }
  .area{
    width:20em!important;
  }
  .motive{
    width: 20em!important;
    textarea{
      height: 5em!important;
    }
  }
}

@media(max-width: 660px) {
  .bottom {
    justify-content: center;
  }
}

.colum2 {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
  width: 30%;
}


