<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="translateSpanish()">ES</button>
  <button mat-menu-item (click)="translateEnglish()">EN</button>
</mat-menu>


<!--<span>
    <select 
        #selectedLang 
        (change)="switchLang(selectedLang.value)">
      <option *ngFor="let language of translate.getLangs()" 
        [value]="language"
        [selected]="language === translate.currentLang">
        {{ language }}
      </option>
    </select>
  </span>-->



