<mat-toolbar id="toolbar">
    <app-breadcrumb></app-breadcrumb>
</mat-toolbar>

<div class="genaral">
    <div class="contenedor-1">
        <div class="busqueda">
            <form class="example-form">
                <mat-label>{{'Search by Name :'|translate}}</mat-label>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Antonio Jesus">
                </mat-form-field>
            </form>
        </div>
        <div class="botones-derecha">
            <button mat-stroked-button color="primary">{{'Reset'|translate}}</button>
            <button mat-raised-button color="primary">{{'Search'|translate}}</button>
            <button mat-button [matMenuTriggerFor]="menu">{{'More Filters'|translate}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
        </div>
    </div>
    <div class="contenedor-2">
        <div class="barra-contenedor">
            <div class="busqueda">
                <form class="example-form">
                    <mat-label>{{'Show'|translate}}:</mat-label>
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle value="bold">{{'Candidates in process'|translate}}</mat-button-toggle>
                        <mat-button-toggle value="italic">{{'Other Candidates'|translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </form>
            </div>
            <div class="botones-derecha2">
                <button mat-raised-button color="primary" (click)="abrirPopup()">+{{'Add Candidate'|translate}}</button>
                <mat-icon>autorenew</mat-icon>
                <mat-icon>settings</mat-icon>
            </div>
        </div>
        <div class="contenedor-tabla">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{"Name" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef> {{"Surname" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> {{"Description" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> {{"Status" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{getEnumValueFromOrder(element.status,Status)}}  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [length]="candidates.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [hidePageSize]="true">
            </mat-paginator>
        </div>
    </div>
</div>
