@font-face {
  font-family: 'NeueHaasUnicaPro - Regular';
  src: url('../assets/fonts/NeueHaasUnicaPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NeueHaasUnicaPro - Medium';
  src: url('../assets/fonts/NeueHaasUnicaPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NeueHaasUnicaPro - Light';
  src: url('../assets/fonts/NeueHaasUnicaPro-Light.otf') format('opentype');
}
