/* You can add global styles to this file, and also import other style files */
@import "./pages/job";
@import "fonts";
@import "colors";
@import "mixins";


html, body { height: 100%; }
*{
    font-family: "NeueHaasUnicaProBold";
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
