.spacer{
    margin-left: auto;
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    height: calc(100% - 80px);
    width: 100%;
}
.contenedor-1{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
}
.contenedor-2{
    text-align: center;
    height: 100%;
    width: 65%;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.full-width {
    width: 100%;
    margin: 5%;
}

.fechaGenero{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
