.spacer {
    margin-left: auto;
}


.container {
    display: grid;
    grid-template-areas:
        "col1 col2"
        "table table"
        "button button";
    justify-items: center;
    row-gap: 30px;
}

.column1 {
    grid-area: col1;
    display: flex;
    flex-direction: column;
}

.column2 {
    grid-area: col2;
    display: flex;
    flex-direction: column;
}

.date {
    margin-top: 7%;
}

.tam {
    width: 20em;
}

.buttoncontainer {
    grid-area: button;
}

.containerTable {
    grid-area: table;
    width: 90%;
}
.example-container {
    height: 400px;
    overflow: auto;
    width: 100%;
  }
  
.table {
    width: 100%;
  }

@media(max-width: 400px) {
    .container {
        grid-template-areas:
            "col1"
            "col2"
            "table"
            "button";
    }
}
