<div class="container">
<mat-card class="example-card" class="cartas">
  <mat-card-title-group>
    <mat-card-title>{{candidates}}</mat-card-title>
    <mat-card-subtitle>{{'Candidates' | translate}}</mat-card-subtitle>
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-add"
      viewBox="0 0 16 16">
      <path
        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z">
      </path>
      <path
        d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z">
      </path>
    </svg>
  </mat-card-title-group>
  <mat-card-content>
    <button _ngcontent-era-c138="" mat-raised-button="" routerLink="/home/candidates"
      class="mat-focus-indicator mat-raised-button mat-button-base"><span class="mat-button-wrapper">{{'Show' |
        translate}}</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
        class="mat-button-focus-overlay"></span>
    </button>
  </mat-card-content>
</mat-card>


<mat-card class="example-card" class="cartas">
  <mat-card-title-group>
    <mat-card-title>{{jobs}}</mat-card-title>
    <mat-card-subtitle>Roles</mat-card-subtitle>
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
      class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
      <path
        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z">
      </path>
    </svg>
  </mat-card-title-group>
  <mat-card-content>
    <button _ngcontent-era-c138="" mat-raised-button="" routerLink="/home/jobs"
      class="mat-focus-indicator mat-raised-button mat-button-base"><span class="mat-button-wrapper">{{'Show' |
        translate}}</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
        class="mat-button-focus-overlay"></span>
    </button>
  </mat-card-content>
</mat-card>


<!-- <mat-card class="example-card" class="cartas">
  <mat-card-title-group>
    <mat-card-title>1500</mat-card-title>
    <mat-card-subtitle>70BS {{'Applicatión' | translate}}</mat-card-subtitle>
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-tools"
      viewBox="0 0 16 16">
      <path
        d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z">
      </path>
    </svg>
  </mat-card-title-group>
  <mat-card-content>
    <button _ngcontent-era-c138="" mat-raised-button=""
      class="mat-focus-indicator mat-raised-button mat-button-base"><span class="mat-button-wrapper">{{'Show' |
        translate}}</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
        class="mat-button-focus-overlay"></span>
    </button>
  </mat-card-content>
</mat-card> -->
</div>